@import 'variables', 'mixins', 'font', 'reset';

.wrap {
    max-width: 375px;
    margin: 0 auto;
}

.gnb-wrap {
    display: none;
}

.header-top {
    display: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 60px;
    padding: 0 24px;
    background-color: $white;
}
.header-body {
    display: flex;
    #logo {
        width: 94px;
        height: 36px;
        background: url(../images/logo_big02.png) center no-repeat;
        background-size: contain;
    }
}
.body-inner {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    .util-wrap {
        .util-icon {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            li {
                display: flex;
            }
            .inp-burger1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                 border: none;
                opacity: 0;
                visibility: hidden;
            }
            .inp-burger2 {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                border: none;
                opacity: 0;
                visibility: hidden;
                &:checked {
                    & ~ .icon-menu {
                        .icon-menubar {
                            &:first-child {
                                top: 50%;
                                right: 0px;
                                transform: rotate(45deg);
                            }
                            &:nth-child(2) {
                                opacity: 0;
                            }
                            &:nth-child(3) {
                                top: 50%;
                                right: 0px;
                                transform: rotate(-45deg);
                            }
                        }
                    } 
                    & ~ #gnb {
                        left: 0;
                    }
                    
                }
            }
            .icon-menu {
                position: relative;
                display: block;
                width: 22px;
                height: 22px;
            }
            .icon-menuinner {
                position: absolute;
                right: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 1100;
                cursor: pointer;
            }
            .icon-menubar {
                display: block;
                width: 100%;
                height: 1px;
                background-color: rgb(0, 0, 0);
                transition: all 0.3s ease 0.3s, transform 0.3s ease 0s;
                position: absolute;
                right: 0px;
                top: 0px;
                transform-origin: center;
                &:nth-child(2) {
                    top: calc(50% - 2px);
                }
                &:nth-child(3) {
                    top: calc(100% - 4px);
                }
            }
            .la-search {
                transform: scaleX(-1);
            }
            .la-search::before {
                position: relative;
                z-index: 1100;
                cursor: pointer;
                display: block;
                right: 0;
                font-size: 24px;
            }
        }
        #gnb {
            position: fixed;
            top: 0;
            left: 100%;
            bottom: 0;
            z-index: 1000;
            background-color: $white;
            display: flex;
            width: 100%;
            transition: all 0.3s;
            .gnb-left {
                margin-left: 24px;
                display: flex;
                align-items: center;
                height: 60px;
                .la-home::before {
                    display: block;
                    margin-right: 6px;
                    font-size: 24px;
                }
                .gnb-txt {
                    padding: 0 10px;
                    font-weight: 400;
                    font-size: .9375rem;
                    color: $black;
                }
            }
        }
    }
}


#main {
    margin-top: 60px;
}
    
.mySwiper1 {
    padding-top: 12px;
    .swiper-intro {
        .intro-img {
            width: 100%;
            height: 250px;
        }
        .txt-sec {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 120px;
            margin: 36px 0 0 24px;
            color: $black;
        }
        .txt1 {
            word-break: keep-all;
            font-weight: 800;
            font-size: 1.375rem;
            margin-bottom: 32px;
        }
        .txt2 {
            font-weight: 400;
            font-size: .8125rem;
            &::before {
                content: '';
                position: absolute;
                top: 80px;
                left: 0;
                width: 24px;
                height: 2px;
                background-color: $primary;
            }
        }
    }
    .swiper-pagination {
        padding: 0 24px 36px 24px;
        bottom: 0;
        text-align: left;
    }
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        background-color: #666666;
    }
    .swiper-pagination-bullet-active {
        background-color: $gray-700;
        border-radius: 6px;
        width: 14px;
    }
}

.mySwiper4 {
    display: none;
}

.sec-login {
    display: none;
}

.sec-card {
    .card-tab {
        display: none;
    }
    .mySwiper2 {
        padding: 0 24px;
        height: 220px;
        .swiper-wrapper {
            margin-right: 0;
        }
        .swiper-slide {
            width: 40%;
            .ani {
                overflow: hidden;
                width: 87px;
                .swiper-img {
                    display: flex;
                    transition: left 0.3s;
                    animation: ani-slide 5s infinite linear;
                    
                }
                .slide-img {
                    display: flex;
                    margin-right: 8px;
                    width: 100%;
                    &::before { 
                        content: '';
                        display: block;
                        width: 100%;
                        height: 0;
                        padding-top: 100%;
                    }
                }
            }
            @keyframes ani-slide {
                0% {
                  transform: translate(0, 0);
                }
                20% {
                  transform: translate(0, 0);
                }
                80% {
                  transform: translate(-95px, 0);
                }
                100% {
                  transform: translate(-95px, 0);
                }
            }
            .slide-text {
                padding-top: 20px;
                width: 135px;
                .txt1 {
                    font-weight: 500;
                    font-size: .9375rem;
                }
                .txt2 {
                    margin-top: 4px;
                    width: 135px;
                    font-weight: 400;
                    font-size: .75rem;
                    color: $gray-700;
                }
            }
        }
        .swiper-pagination {
            display: none;
        }
    }
    .mySwiper5 {
        display: none;
    }
    .mySwiper6 {
        display: none;
    }
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.tab-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 24px 24px 48px 24px;
    gap: 8px;
    .tab {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(50% - 4px);
        height: 40px;
        border: 1px solid $gray-600;
        border-radius: 5px;
        vertical-align: middle;
        font-weight: 400;
        font-size: .6875rem;
        color: $black;
    }
}

.sec-fin {
    background-color: $gray-200;
    .fin-wrap {
        padding: 0 24px;
        gap: 24px;
        .box1, .box2, .box3 {
            padding: 0 24px;
            display: flex;
            align-items: center;
            margin-top: 12px;
            height: 124px;
            background-color: $white;
            border-radius: 10px;
        }
        .fin-img1 {
            width: 36px;
            height: 43px;
            background: url(../images/ico_loan_main01.png) no-repeat;
            background-size: contain;
        }
        .fin-img2 {
            width: 39px;
            height: 36px;
            background: url(../images/ico_loan_main02.png) no-repeat;
            background-size: contain;
        }
        .fin-img3 {
            width: 39px;
            height: 40px;
            background: url(../images/ico_loan_main03.png) no-repeat;
            background-size: contain;
        }
        .fin-con {
            padding-left: 24px;
        }
        .fin-tit {
            padding: 48px 0 16px 0px;
            font-weight: 700;
            font-size: 1.125rem;
            color: $black;
        }
        .fin-txt1 {
            font-weight: 600;
            font-size: .9375rem;
            color: $black;
        }
        .fin-txt2 {
            position: relative;
            display: flex;
            margin-top: 6px;
            font-size: .6875rem;
            .fin-text1 {
                display: block;
                padding-right: 15px;
                font-weight: 400;
                font-size: .6875rem;
                span {
                    font-weight: 600;
                    font-size: .6875rem;
                }
            }
        }
        .box1 {
            .fin-text1 {
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 3px;
                    left: 70px;
                    width: 1px;
                    height: 12px;
                    background-color: $gray-600;
                }
            }
        }
        .box2 {
            .fin-text1 {
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 3px;
                    left: 76px;
                    width: 1px;
                    height: 12px;
                    background-color: $gray-600;
                }
            }
        }
        .btn-wrap {
            display: flex;
            align-items: center;
            margin-top: 10px;
            gap: 12px;
            .btn1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 68px;
                height: 28px;
                font-weight: 400;
                font-size: .6875rem;
                border: 1px solid $gray-500;
            }
            .btn2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 68px;
                height: 28px;
                font-weight: 400;
                font-size: .6875rem;
                color: $white;
                background-color: $primary;
            }
        }
    }
     
}

.nav {
    --bs-nav-link-color: none;
}

.nav-tabs {
    padding: 48px 24px 28px 24px;
    gap: 24px;
    --bs-nav-tabs-border-width: none;
    --bs-nav-tabs-boder-color: none;
    --bs-nav-tabs-link-active-bg: none;
    border-bottom: none;
}

.nav-link {
    padding: 0;
    font-size: 1.125rem;
    font-weight: 500;
    color: $gray-700;
}

.nav-link:focus, .nav-link:hover {
    color: $gray-700;
}

.nav-link.active {
    font-weight: 700;
}

.sec-fin-card {
    display: none;
}

.sec-life {
    display: none;
}

.mySwiper7 {
    display: none;
}

.sec-lifestyle {
    display: none;
}

.sec-notice {
    background-color: $gray-200;
    padding-bottom: 48px;
    .tab-content {
    margin: 0 24px;
    padding: 16px 24px;
    height: 152px;
    background-color: $white;
    border-radius: 10px;
}
    .tab-pane {
        padding: 0;
    }
    .notice-text {
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .notice-text1 {
        li {
            display: flex;
            align-items: center;
            height: 40px;
        }
        a {
            display: block;
            width: 186px;
            font-weight: 400;
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .notice-text2 {
        li {
            display: flex;
            align-items: center;
            height: 40px ;
        }
        a {
            display: block;
            font-weight: 350;
            font-size: .625rem;
        }
    }
}

.sec-notice-ac {
    display: none;
}

.sec-event {
    background-color: $gray-200;
    .event-con {
        position: relative;
        margin: 0 24px;
        padding-bottom: 48px;
        .event-img {
            width: 100%;
            height: 190px;
            border-radius: 10px;
        }
        .event-text {
            position: absolute;
            top: 0;
            left: 0;
            margin: 36px 0 0 24px;
            font-weight: 600;
            font-size: 1.125rem;
            word-break: keep-all;
        }
    }
}

.appdown {
    padding: 48px 24px 60px 24px;
    .download {
        text-align: center;
    }
    .tit {
        font-weight: 700;
        font-size: 1.0625rem;
        margin-bottom: 20px;
    }
    .pay-img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .appdown-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 12px 12px;
        min-width: 63px;
        height: 30px;
        font-family: 'Noto Sans KR';
        font-weight: 400;
        font-size: .8125rem;
        background-color: #3376F6;
        color: $white;
        border-radius: 20px;
    }
}

.move-top {
    text-align: center;
    margin: 24px 24px 48px 24px;
    .move-top-click {
        width: 40px;
        height: 40px;
        background: url(../images/move-top-click.svg) 0 0 no-repeat;
    }
}

#footer {
    text-align: center;
    padding: 28px 24px;
    background-color: $gray-200;
    .footer-nav-list {
        font-size: 0;
    }
    .footer-nav-item {
        position: relative;
        display: inline-block;
        padding: 0 0 0 18px;
        &:first-child {
            &::before {
                display: none;
            }
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            left: 9px;
            width: 1px;
            height: 10px;
            background-color: $gray-700;
        }
    }
    .footer-nav-item:first-child {
        padding-left: 0px;
    }
    .footer-nav-link {
        display: block;
        font-weight: 500;
        font-size: .625rem;
        color: $gray-700;
    }
    .footer-tel {
        margin: 32px 0;
        .footer-tel-list {
            font-size: 0;
            line-height: 0;
            margin: -5px 0 0 -10px;
        }
        .footer-tel-item {
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 5px 0 0 10px;
        }
        .footer-tel-link {
            display: block;
            font-weight: 400;
            font-size: .625rem;
            color: $gray-700;
            padding: 8px 14px;
            border: 1px solid $gray-700;
            border-radius: 5px;
        }
    }
    .footer-address {
        display: block;
        font-weight: 400;
        font-size: .625rem;
        color: $gray-700;
    }
    .footer-text {
        .footer-text-list {
            margin-left: -5px;
        }
        .footer-text-item {
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 5px 0 0 10px;
            font-size: .625rem;
            font-weight: 400;
            color: $gray-700;
            &:first-child {
                &::before {
                    display: none;
                }
            }
            &::before {
                content: '';
            display: block;
            position: absolute;
            top: 12px;
            left: 5px;
            width: 1px;
            height: 1px;
            background-color: $gray-700;
            }
        }
    }
    .footer-copy {
        display: block;
        margin: 0 auto;
        font-weight: 400;
        font-size: .625rem;
        color: $gray-700;
        margin: 2px 0 12px 0;
    }
    .logo-wrap {
        padding-bottom: 20px;
        .footer-logo {
            width: 66px;
            height: 18px;
            margin: 0 auto;
            background: url(../images/footer-logo.svg);
        }
    }
    .footer-marks {
        position: relative;
        padding-top: 20px;
        border-top: 1px solid $gray-500;
        .mySwiper3 {
            .swiper-slide {
                &:first-child {
                    width: 132px;
                }
                &:nth-child(2) {
                    width: 144px;
                }
                &:nth-child(3) {
                    width: 154px;
                }
                &:nth-child(4) {
                    width: 142px;
                }
                &:nth-child(5) {
                    width: 227px;
                }
                &:nth-child(6) {
                    width: 159px;
                }
                &:nth-child(7) {
                    width: 123px;
                }
                a {
                    display: flex;
                    height: 50px;
                    align-items: center;
                    gap: 10px;
                }
            }
            .award-img1 {
                width: 24px;
                height: 34px;
                background: url(../images/wa.png) no-repeat;
                background-size: contain;
            }
            .award-img2 {
                width: 32px;
                height: 32px;
                background: url(../images/cc.png) no-repeat;
                background-size: contain;
            }
            .award-img3 {
                width: 28px;
                height: 32px;
                background: url(../images/k.png) no-repeat;
                background-size: contain;

            }
            .award-img4 {
                width: 26px;
                height: 32px;
                background: url(../images/ico_footer_mark09.png) no-repeat;
                background-size: contain;
                
            }
            .award-img5 {
                width: 32px;
                height: 32px;
                background: url(../images/ico_footer_mark11.png) no-repeat;
                background-size: contain;
                
            }
            .award-img6 {
                width: 47px;
                height: 32px;
                background: url(../images/ico_footer_mark13.png) no-repeat;
                background-size: contain;
            }
            .award-img7 {
                width: 27px;
                height: 32px;
                background: url(../images/ico_footer_mark07.png) no-repeat;
                background-size: contain;

            }
            .award-text {
                font-weight: 400;
                font-size: .625rem;
                text-align: left;
                word-break: keep-all;
                color: $gray-700;
            }
        }
    }
}

#footer-d {
    display: none;
}

@media screen and (min-width: 1670px) {
    .wrap {
        max-width: none;
    }
    #header {
        padding: 0 320px;
        height: 166px;
        .header-top {
            margin-top: 8px;
            display: block;
            .top-inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .inner-left {
                    position: relative;
                    .leftwrap {
                        display: flex;
                        .text-con {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 6px 15px;
                            font-weight: 600;
                            font-size: .8125rem;
                            font-family: "Hana2";
                            background-color: $white;
                            color: $gray-800;
                        }
                        .text-active {
                            background-color: $primary;
                            color: $white;
                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 7px;
                                left: 107px;
                                width: 2px;
                                height: 17px;
                                background-color: $gray-400;
                            }
                        }
                    }
                }
                .inner-right {
                    .rightwrap {
                        display: flex;
                        .text-list {
                            position: relative;
                            &:first-child {
                                &::before {
                                    display: none;
                                }
                            }
                            &::before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 7px;
                                left: 0px;
                                width: 2px;
                                height: 17px;
                                background-color: $gray-400;
                            }
                            .text-con {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 6px 15px;
                                font-weight: 600;
                                font-size: .8125rem;
                                font-family: "Hana2";
                                background-color: $white;
                                color: $gray-700;
                            }
                        }
                    }
                }
            }
        }
        .header-body {
            display: flex;
            justify-content: center;
            align-items: center;
            .body-inner {
                height: 126px;
                #logo {
                    width: 156px;
                    height: 62px;
                    background: url(../images/Logo-h1pc.png) center no-repeat;
                    background-size: contain;
                }
                .gnb-wrap {
                    display: flex;
                    .gnb-list {
                        display: flex;
                        .gnb-text {
                            font-family: "Hana2";
                            font-weight: 600;
                            font-size: 1.1875rem;
                            color: $black;
                            margin: 8px 27px;
                        }
                    }
                }
                .util-wrap {
                    .util-icon {
                        gap: 40px;
                        .icon-menu {
                            width: 32px;
                            height: 32px;
                        }
                        .icon-menubar {
                            height: 2px;
                        }
                        .la-search::before {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
    .mySwiper1 {
        display: none;
    }
    #main {
        .mySwiper4 {
            position: relative;
            display: block;
            margin-top: 166px;
            width: 100%;
            height: 583px;
            .intro-img {
                width: 100%;
                height: 583px;
            }
            .txt-sec {
                position: absolute;
                top: 0;
                left: 0;
                width: 360px;
                height: 120px;
                margin: 56px 0 0 320px;
                color: $black;
            }
            .txt1 {
                word-break: keep-all;
                font-weight: 800;
                font-size: 2.5rem;
                margin-bottom: 56px;
            }
            .txt2 {
                font-weight: 400;
                font-size: 1.125rem;
                &::before {
                    content: '';
                    position: absolute;
                    top: 146px;
                    left: 0;
                    width: 30px;
                    height: 2px;
                    background-color: $primary;
                }
            }
            .swiper-button-prev {
                opacity: 1;
                top: 540px;
                left: 320px;
                width: 20px;
                height: 20px;
                background-color: #fff;
                border: 1px solid #ccc;
                color: #000;
            }
            .swiper-button-prev::after {
                width: 38px;
                height: 38px;
                font-size: 10px;
                font-weight: 700;
                text-align: center;
                margin-top: 28px;
            }
            .swiper-button-next {
                opacity: 1;
                top: 539px;
                left: 428px;
                width: 20px;
                height: 20px;
                background-color: #fff;
                border: 1px solid #ccc;
                color: #000;
            }
            .swiper-button-next::after {
                width: 38px;
                height: 38px;
                font-size: 10px;
                font-weight: 700;
                text-align: center;
                margin-top: 28px;
            }
            .swiper-pagination-fraction {
                left: 369px;
                width: auto;
                bottom: 44px;
                font-size: 10px;
            }
            .swiper-event {
                position: absolute;
                bottom: 3px;
                left: 320px;
                z-index: 1;
                width: 128px;
                height: 32px;
                background-color: #3C3F44;
                text-align: center;
                a {
                    color: #fff;
                    font-size: 13px;
                }
            }
        }
        .sec-login {
            position: absolute;
            z-index: 10;
            top: 222px;
            right: 320px;
            display: block;
            width: 369px;
            .login-container {
                background-color: $white;
            }
            .nav-tabs {
                display: flex;
                justify-content: space-between;
                gap: 0;
                padding: 24px;
            }
            .nav-link.active {
                border-bottom: 2px solid $black;
            }
            .nav-link {
                width: 107px;
                height: 40px;
                font-size: .9375rem;
                text-align: center;
                border-bottom: 1px solid $gray-600;
            }
            .tab-content {
                position: relative;
                height: 243px;
            }
            .form-field {
                position: relative;
                display: flex;
                flex-direction: column;
            }
            .form-field1 {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .form-field1 i {
                font-size: 60px;
            }
            .form-field1 span {
                width: 300px;
                height: 60px;
                word-break: keep-all;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
            }
            .form-field-cont {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                padding-bottom: 16px;
            }
            .form-field-obj {
                display: block;
                width: 88%;
                margin: 0 auto;
            }
            .form-input {
                height: 54px;
                width: 100%;
                border: 2px solid #cccc;
                padding: 0 24px;
            }
            .form-input:focus {
                border: 2px solid #cccc;
                outline: none;
            }
            .pos-area {
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                margin: 0 auto;
            }
            .btn-primary {
                width: 88%;
                height: 52px;
                margin: 0 auto;
                font-weight: 400;
                font-size: 16px;
                color: #fff;
                background-color: $secondary;
            }
            .setup-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 88%;
                height: 52px;
                margin: 0 auto;
                padding-bottom: 8px;
            }
            .setup-wrap span {
                font-size: 14px;
            }
            .item-container {
                padding-top: 8px;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            .item-wrap {
                display: flex;
                align-items: center;
                width: 369px;
                height: 56px;
                background-color: $primary;
            }
            .item-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 88%;
                height: 100%;
                margin: 0 auto;
            }
            .item-con {
                display: flex;
                position: relative;
                &:first-child::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 4px;
                    left: 163px;
                    width: 2px;
                    height: 17px;
                    background-color: #cccccc;
                }
            }
            .item-text {
                width: 150px;
                font-weight: 400;
                font-size: 1rem;
                text-align: center;
                color: $white;
            }
        }
        .sec-card {
            padding: 0 320px 20px 320px;
            .nav-tabs {
                padding: 56px 0;
            }
            .nav-link {
                font-size: 20px;
            }
            .nav-link.active {
                padding-bottom: 6px;
                border-bottom: 3px solid $black;
            }
            .mySwiper2 {
                display: none;
            }
        }
        .sec-card-top {
            display: flex;
            justify-content: space-between;
        }
        .card-tab {
            display: flex;
            padding: 56px 0;
            gap: 16px;
        }
        .mySwiper5, .mySwiper6 {
            display: block;
            height: 380px;
            .swiper-wrapper {
                margin-right: 0;
            }
            .swiper-slide {
                padding: 0 70px;
                .card-slide {
                    display: flex;
                    justify-content: space-between;
                }
                .ani {
                    overflow: hidden;
                    width: 150px;
                    .swiper-img {
                        display: flex;
                        transition: left 0.3s;
                        animation: ani-slide 5s infinite linear;
                    }
                    .slide-img {
                        display: flex;
                        margin-right: 8px;
                        width: 100%;
                        &::before { 
                            content: '';
                            display: block;
                            width: 100%;
                            height: 0;
                            padding-top: 100%;
                        }
                    }
                }
                @keyframes ani-slide {
                    0% {
                      transform: translate(0, 0);
                    }
                    20% {
                      transform: translate(0, 0);
                    }
                    80% {
                      transform: translate(-158px, 0);
                    }
                    100% {
                      transform: translate(-158px, 0);
                    }
                }
                .slide-text {
                    text-align: center;
                    padding-top: 24px;
                    .txt1 {
                        font-weight: 500;
                        font-size: 1.0625rem;
                    }
                    .txt2 {
                        margin-top: 8px;
                        font-weight: 400;
                        font-size: .875rem;
                        color: $gray-700;
                    }
                }
            }
            .swiper-button-next {
                position: absolute;
                top: 130px;
                right: 0;
            }
            .swiper-button-next::after {
                font-size: 20px;
                font-weight: 600;
                color: $gray-700;
            }
            .swiper-button-prev {
                position: absolute;
                top: 130px;
                left: 0;
            }
            .swiper-button-prev::after {
                font-size: 20px;
                font-weight: 600;
                color: $gray-700;
            }
        }
    }
    .card-tab-item {
        padding: 3px 27px;
        font-size: 14px;
        border-radius: 20px;
        background-color: $gray-300;
    }
    .tab-wrap {
        display: none;
    }
    .sec-fin {
        display: none;
    }
    .sec-fin-card {
        display: flex;
        padding: 0 320px;
        background-color: $gray-200;
        .fin-wrap-d {
            width: 70%;
            padding-right: 56px;
        }
        .fin-tit, .card-tit {
            font-size: 20px;
            font-weight: 700;
            color: $black;
            padding: 56px 0;
        }
        .fin-box {
            display: flex;
            justify-content: space-between;
        }
        .fin-box-item {
            display: flex;
            flex-direction: column;
            width: 29%;
            height: 290px;
            text-align: center;
            padding: 24px 16px;
            gap: 24px;
            background-color: $white;
        }
        .fin-box-tit {
            font-size: 17px;
            font-weight: 600;
        }
        .img1 {
            width: 52px;
            height: 64px;
            background: url(../images/ico_loan_main01.png) 50% 0 no-repeat;
        }
        .img2 {
            width: 68px;
            height: 64px;
            background: url(../images/ico_loan_main02.png) 50% 0 no-repeat;
        }
        .img3 {
            width: 61px;
            height: 64px;
            background: url(../images/ico_loan_main03.png) 50% 0 no-repeat;
            text-align: center;  
        }
        .fin-img {
            background-size: contain;
            margin: 0 auto;
        }
        .fin-txt {
            font-size: 14px;
            font-weight: 500;
        }
        .btnwrap {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn1 {
            padding: 10px 17px;
            font-size: 14px;
            font-weight: 600;
            margin-right: 12px;
            border: 1px solid $gray-600;
        }
        .btn2 {
            padding: 10px 17px;
            font-size: 14px;
            font-weight: 500;
            color: $white;
            background-color: $primary;
        }
        .card-wrap-d {
            width: 30%;
        }
        .card-box {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .card-box-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 24px;
            background-color: $white;
        }
        .card-item-tit {
            font-size: 17px;
            font-weight: 500;
            padding: 0;
        }
    }
    .sec-life {
        display: block;
        padding: 0 320px;
        background-color: $gray-200;
        .life-tit {
            font-size: 20px;
            font-weight: 700;
            color: #000;
            padding: 56px 0;
        }
        .life-item {
            display: flex;
            justify-content: space-between;
        }
        .life-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            text-align: center;
            .box1 {
                background-color: $primary;
            }
            .box2 {
                background-color: #76719A;
            }
            .box3 {
                background-color: #435A7C;
            }
        }
        .life-left-box {
            display: block;
            width: 100%;
            height: 33%;
            padding: 26px 74px;
            .img1 {
                background: url(../images/디지털명세서.png) 50% 50% no-repeat;
            }
            .img2 {
                background: url(../images/글로벌.png) 50% 50% no-repeat;
            }
            .img3 {
                background: url(../images/vip.png) 50% 50% no-repeat;
            }
        }
        .left-img {
            margin: 0 auto;
            width: 80px;
            height: 68px;
        }
        .left-txt {
            font-size: 15px;
            font-weight: 300;
            color: $white;
            padding: 14px 0 8px 0;
        }
        .left-tit {
            font-size: 20px;
            font-weight: 400;
            color: $white;
        }
        .life-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            text-align: center;
            .box1 {
                background-color: $white;
            }
            .box2 {
                background-color: #8CC7E7;
            }
        }
        .life-center-box {
            display: block;
            width: 100%;
            height: 50%;
            padding: 30px 45px;
        }
        .center-tit {
            font-size: 20px;
            font-weight: 500;
            color: $black;
            padding-bottom: 20px;
        }
        .center-img1 {
            margin: 0 auto;
            text-align: center;
            width: 100%;
            height: 120px;
            background: url(../images/하나pay-img.png) 50% 50% no-repeat;
            background-size: contain;
        }
        .center-txt {
            font-size: 15px;
            font-weight: 400;
            color: $black;
            padding-top: 20px;
        }
        .center-img2 {
            margin: 0 auto;
            width: 71px;
            height: 70px;
            background: url(../images/bg_point.png) 50% 50% no-repeat;
        }
        .btnwrap {
            padding-top: 26px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 8px;
        }
        .center-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
            width: calc(50% - 4px);
            height: 40px;
            padding: 12px;
            font-size: 15px;
            font-weight: 400;
            background-color: $white;
        }
        .life-right {
            width: 30%;
        }
        .right-box {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 45px;
            background-color: $secondary;
        }
        .right-tit {
            font-size: 20px;
            font-weight: 400;
            color: $white;
            padding-bottom: 28px;
        }
        .mySwiper7 {
            position: relative;
            display: block;
            width: 100%;
            height: 300px;
            .swiper-wrapper {
                height: 275px;
            }
            .swiper-pagination {
                position: absolute;
                bottom: -5px;
                right: 0;
                left: 0;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // transform: translateY(100px);
            }
        }
        .right-txt {
            font-size: 15px;
            font-weight: 300;
            color: $white;
            padding: 28px 0;
        }
        .right-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 24px;
            width: 100%;
            background-color: #fff;
        }
    }
    .sec-lifestyle {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 320px;
        background-color: #efefef;
        .lifestyle-left {
            dt {
                font-size: 20px;
                font-weight: 400;
                color: $black;
            }
            dd {
                font-size: 56px;
                font-weight: 500;
                color: $black;
                letter-spacing: 20px;
            }
            li {
                width: 100%;
                height: 100%;
            }
        }
        .style-shop {
            background: url(../images/mc_service_bg02.png) 50% 50% no-repeat;
        }
        .style-tra {
            background: url(../images/mc_service_bg03.png) 50% 50% no-repeat;
        }
        .style-la {
            background: url(../images/mc_service_bg05.png) 50% 50% no-repeat;
        }
        .style-movie {
            background: url(../images/mc_service_bg06.jpg) 50% 50% no-repeat;
        }
        .lifestyle-right {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            right: 320px;
        }
        .right-cir {
            display: block;
            width: 110px;
            height: 110px;
            border-radius: 100%;
            background-color: $gray-500;
            font-size: 18px;
            font-weight: 500;
            color: $black;
            text-align: center;
            line-height: 110px;
            margin-left: 46px;
        }
        .lifestyle-bottom {
            position: absolute;
            left: 0;
            bottom: 28px;
            padding: 0 320px;
            width: 100%;
        }
        .bottom-list {
            display: flex;
            justify-content: space-around;
            background-color: $white;
            li {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                height: 50px;
                &:first-child {
                    &::before {
                        display: none;
                    }
                }
                &::before {
                    position: absolute;
                    top: 17px;
                    left: 0;
                    width: 1px;
                    height: 17px;
                    background: #ccc;
                    content: "";
                }
            }
            a {
                display: block;
                width: 100%;
                color: $black;
                text-align: center;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    .sec-notice {
        display: none;
    }
    .sec-notice-ac {
        display: flex;
        justify-content: space-between;
        padding: 28px 320px 56px 320px;
        background-color: $gray-200;
        .left-notice {
            width: 47%;
            padding: 20px 24px;
            background-color: $white;
        }
        .left-ac {
            width: 48%;
            padding: 20px 24px;
            background-color: $white;
        }
        .notice-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .nav-tabs {
            padding: 0;
        }
        .nav-link {
            font-size: 16px;
        }
        .nav-link.active {
            padding-bottom: 3px;
            border-bottom: 1.5px solid $black;
        }
        .notice-text {
            display: flex;
            justify-content: space-between;
            padding-top: 16px;
            li {
                padding: 7px 0;
            }
        }
        .notice-text1 {
            a {
                font-size: 14px;
                font-weight: 500;
            }
        }
        .notice-text2 {
            a {
                font-size: 11px;
                color: $gray-700;
            }
        }
        .ac-tit-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .ac-tit {
            font-weight: 700;
            color: $black;
        }
    }
    .sec-event {
        display: none;
    }
    .sec-app {
        display: none;
    }
    .move-top {
        display: none;
    }
    #footer {
        display: none;
    }
    #footer-d {
        display: block;
        padding: 0 320px;
        .footer-top {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 30px 0;
            word-break: keep-all;
        }
        .top-nav {
            display: flex;
        }
        .nav-item {
            font-size: 12px;
            font-weight: 500;
            color: $gray-700;
            padding: 6px;
        }
        .item-bold {
            font-weight: 600;
            color: $black;
        }
        .buttonwrap {
            position: absolute;
            top: 30px;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
        }
        #family {
            padding: 7px 5px;
            font-size: 13px;
            border: 1px solid $gray-700;
            option {
                font-size: 12px;
                padding: 2px;
            }
        }
        .top-logo {
            display: flex;
            width: 160px;
            height: 30px;
            .logo1 {
                width: 70%;
                height: 100%;
                background: url(../images/하나금융그룹_로고.png) 50% 50% no-repeat;
                background-size: contain;
            }
            .logo2 {
                width: 30%;
                height: 100%;
                background: url(../images/bg-happy.png) 50% 50% no-repeat;
                background-size: contain;
            }
        }
        .footer-center { 
            position: relative;
            word-break: keep-all;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        address {
            width: 880px;
            margin: 0 0 0 -9px;
        }
        .address-item {
            font-size: 13px;
            font-weight: 500;
            color: $gray-700;
            padding: 9px;
        }
        .address-bold {
            font-size: 14px;
            color: $black;
        }
        .snswrap {
            position: absolute;
            top: 25px;
            right: 0;
            display: flex;
        }
        .sns-img {
            width: 25px;
            height: 25px;
            margin-left: 5px;
        }
        .facebook {
            background: url(../images/btn_footer_sns_facebook.png);
        }
        .instargram {
            background: url(../images/btn_footer_sns_instagram.png);
        }
        .kakao {
            background: url(../images/btn_footer_sns_kakaoch.png);
        }
        .youtube {
            background: url(../images/btn_footer_sns_youtube.png);
        }
        .award-img1 {
            width: 24px;
            height: 34px;
            background: url(../images/wa.png) no-repeat;
            background-size: contain;
        }
        .award-img2 {
            width: 32px;
            height: 32px;
            background: url(../images/cc.png) no-repeat;
            background-size: contain;
        }
        .award-img3 {
            width: 28px;
            height: 32px;
            background: url(../images/k.png) no-repeat;
            background-size: contain;

        }
        .award-img4 {
            width: 26px;
            height: 32px;
            background: url(../images/ico_footer_mark09.png) no-repeat;
            background-size: contain;
            
        }
        .award-img5 {
            width: 32px;
            height: 32px;
            background: url(../images/ico_footer_mark11.png) no-repeat;
            background-size: contain;
            
        }
        .award-img6 {
            width: 47px;
            height: 32px;
            background: url(../images/ico_footer_mark13.png) no-repeat;
            background-size: contain;
        }
        .award-img7 {
            width: 27px;
            height: 32px;
            background: url(../images/ico_footer_mark07.png) no-repeat;
            background-size: contain;

        }
        .footer-marks {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 0;
        }
        .marker {
            display: flex;
            align-items: center;
            padding-right: 5px;
        }
        .award-text {
            font-weight: 400;
            font-size: .625rem;
            text-align: left;
            word-break: keep-all;
            color: $gray-700;
            padding-left: 16px;
        }
    }
}