@import 'variables', 'mixins', 'font', 'reset';

.wrap {
    max-width: 375px;
}

@media screen and (min-width: 1280px) {
    .wrap {
        max-width: none;
    }
}

#footer {
    text-align: center;
    padding: 24px 24px;
    background-color: #f6f6f6;
    .footer-nav-list {
        font-size: 0;
        line-height: 0;
        padding: 0;
        margin: 0;
    }
    .footer-nav-item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 0 0 0 24px;
        &:first-child {
            &::before {
                display: none;
            }
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            left: 10px;
            width: 1px;
            height: 10px;
            background-color: $gray-700;
        }
    }
    .footer-nav-item:first-child {
        padding-left: 10px;
    }
    .footer-nav-link {
        display: block;
        font-size: .6875rem;
        color: $gray-700;
    }
    .footer-tel {
        margin: 25px 0;
    }

}


@import 'main'