@charset "UTF-8";
@font-face {
  font-family: "Hana2";
  font-weight: 200;
  src: url(../fonts/Hana2-Light.woff) format("woff");
}
@font-face {
  font-family: "Hana2";
  font-weight: 300;
  src: url(../fonts/Hana2-Regular.woff) format("woff");
}
@font-face {
  font-family: "Hana2";
  font-weight: 400;
  src: url(../fonts/Hana2-Medium.woff) format("woff");
}
@font-face {
  font-family: "Hana2";
  font-weight: 500;
  src: url(../fonts/Hana2-CM.woff) format("woff");
}
@font-face {
  font-family: "Hana2";
  font-weight: 600;
  src: url(../fonts/Hana2-Bold.woff) format("woff");
}
@font-face {
  font-family: "Hana2";
  font-weight: 700;
  src: url(../fonts/Hana2-Heavy.woff) format("woff");
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif, "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #333;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.wrap {
  max-width: 375px;
  margin: 0 auto;
}

.gnb-wrap {
  display: none;
}

.header-top {
  display: none;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  padding: 0 24px;
  background-color: #fff;
}

.header-body {
  display: flex;
}
.header-body #logo {
  width: 94px;
  height: 36px;
  background: url(../images/logo_big02.png) center no-repeat;
  background-size: contain;
}

.body-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}
.body-inner .util-wrap .util-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.body-inner .util-wrap .util-icon li {
  display: flex;
}
.body-inner .util-wrap .util-icon .inp-burger1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
  visibility: hidden;
}
.body-inner .util-wrap .util-icon .inp-burger2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
  visibility: hidden;
}
.body-inner .util-wrap .util-icon .inp-burger2:checked ~ .icon-menu .icon-menubar:first-child {
  top: 50%;
  right: 0px;
  transform: rotate(45deg);
}
.body-inner .util-wrap .util-icon .inp-burger2:checked ~ .icon-menu .icon-menubar:nth-child(2) {
  opacity: 0;
}
.body-inner .util-wrap .util-icon .inp-burger2:checked ~ .icon-menu .icon-menubar:nth-child(3) {
  top: 50%;
  right: 0px;
  transform: rotate(-45deg);
}
.body-inner .util-wrap .util-icon .inp-burger2:checked ~ #gnb {
  left: 0;
}
.body-inner .util-wrap .util-icon .icon-menu {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
}
.body-inner .util-wrap .util-icon .icon-menuinner {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1100;
  cursor: pointer;
}
.body-inner .util-wrap .util-icon .icon-menubar {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease 0.3s, transform 0.3s ease 0s;
  position: absolute;
  right: 0px;
  top: 0px;
  transform-origin: center;
}
.body-inner .util-wrap .util-icon .icon-menubar:nth-child(2) {
  top: calc(50% - 2px);
}
.body-inner .util-wrap .util-icon .icon-menubar:nth-child(3) {
  top: calc(100% - 4px);
}
.body-inner .util-wrap .util-icon .la-search {
  transform: scaleX(-1);
}
.body-inner .util-wrap .util-icon .la-search::before {
  position: relative;
  z-index: 1100;
  cursor: pointer;
  display: block;
  right: 0;
  font-size: 24px;
}
.body-inner .util-wrap #gnb {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  width: 100%;
  transition: all 0.3s;
}
.body-inner .util-wrap #gnb .gnb-left {
  margin-left: 24px;
  display: flex;
  align-items: center;
  height: 60px;
}
.body-inner .util-wrap #gnb .gnb-left .la-home::before {
  display: block;
  margin-right: 6px;
  font-size: 24px;
}
.body-inner .util-wrap #gnb .gnb-left .gnb-txt {
  padding: 0 10px;
  font-weight: 400;
  font-size: 0.9375rem;
  color: #000;
}

#main {
  margin-top: 60px;
}

.mySwiper1 {
  padding-top: 12px;
}
.mySwiper1 .swiper-intro .intro-img {
  width: 100%;
  height: 250px;
}
.mySwiper1 .swiper-intro .txt-sec {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 120px;
  margin: 36px 0 0 24px;
  color: #000;
}
.mySwiper1 .swiper-intro .txt1 {
  word-break: keep-all;
  font-weight: 800;
  font-size: 1.375rem;
  margin-bottom: 32px;
}
.mySwiper1 .swiper-intro .txt2 {
  font-weight: 400;
  font-size: 0.8125rem;
}
.mySwiper1 .swiper-intro .txt2::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #00907F;
}
.mySwiper1 .swiper-pagination {
  padding: 0 24px 36px 24px;
  bottom: 0;
  text-align: left;
}
.mySwiper1 .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #666666;
}
.mySwiper1 .swiper-pagination-bullet-active {
  background-color: #777777;
  border-radius: 6px;
  width: 14px;
}

.mySwiper4 {
  display: none;
}

.sec-login {
  display: none;
}

.sec-card .card-tab {
  display: none;
}
.sec-card .mySwiper2 {
  padding: 0 24px;
  height: 220px;
}
.sec-card .mySwiper2 .swiper-wrapper {
  margin-right: 0;
}
.sec-card .mySwiper2 .swiper-slide {
  width: 40%;
}
.sec-card .mySwiper2 .swiper-slide .ani {
  overflow: hidden;
  width: 87px;
}
.sec-card .mySwiper2 .swiper-slide .ani .swiper-img {
  display: flex;
  transition: left 0.3s;
  animation: ani-slide 5s infinite linear;
}
.sec-card .mySwiper2 .swiper-slide .ani .slide-img {
  display: flex;
  margin-right: 8px;
  width: 100%;
}
.sec-card .mySwiper2 .swiper-slide .ani .slide-img::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
@keyframes ani-slide {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(-95px, 0);
  }
  100% {
    transform: translate(-95px, 0);
  }
}
.sec-card .mySwiper2 .swiper-slide .slide-text {
  padding-top: 20px;
  width: 135px;
}
.sec-card .mySwiper2 .swiper-slide .slide-text .txt1 {
  font-weight: 500;
  font-size: 0.9375rem;
}
.sec-card .mySwiper2 .swiper-slide .slide-text .txt2 {
  margin-top: 4px;
  width: 135px;
  font-weight: 400;
  font-size: 0.75rem;
  color: #777777;
}
.sec-card .mySwiper2 .swiper-pagination {
  display: none;
}
.sec-card .mySwiper5 {
  display: none;
}
.sec-card .mySwiper6 {
  display: none;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.tab-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 24px 24px 48px 24px;
  gap: 8px;
}
.tab-wrap .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 4px);
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 0.6875rem;
  color: #000;
}

.sec-fin {
  background-color: #f6f6f6;
}
.sec-fin .fin-wrap {
  padding: 0 24px;
  gap: 24px;
}
.sec-fin .fin-wrap .box1, .sec-fin .fin-wrap .box2, .sec-fin .fin-wrap .box3 {
  padding: 0 24px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  height: 124px;
  background-color: #fff;
  border-radius: 10px;
}
.sec-fin .fin-wrap .fin-img1 {
  width: 36px;
  height: 43px;
  background: url(../images/ico_loan_main01.png) no-repeat;
  background-size: contain;
}
.sec-fin .fin-wrap .fin-img2 {
  width: 39px;
  height: 36px;
  background: url(../images/ico_loan_main02.png) no-repeat;
  background-size: contain;
}
.sec-fin .fin-wrap .fin-img3 {
  width: 39px;
  height: 40px;
  background: url(../images/ico_loan_main03.png) no-repeat;
  background-size: contain;
}
.sec-fin .fin-wrap .fin-con {
  padding-left: 24px;
}
.sec-fin .fin-wrap .fin-tit {
  padding: 48px 0 16px 0px;
  font-weight: 700;
  font-size: 1.125rem;
  color: #000;
}
.sec-fin .fin-wrap .fin-txt1 {
  font-weight: 600;
  font-size: 0.9375rem;
  color: #000;
}
.sec-fin .fin-wrap .fin-txt2 {
  position: relative;
  display: flex;
  margin-top: 6px;
  font-size: 0.6875rem;
}
.sec-fin .fin-wrap .fin-txt2 .fin-text1 {
  display: block;
  padding-right: 15px;
  font-weight: 400;
  font-size: 0.6875rem;
}
.sec-fin .fin-wrap .fin-txt2 .fin-text1 span {
  font-weight: 600;
  font-size: 0.6875rem;
}
.sec-fin .fin-wrap .box1 .fin-text1::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 70px;
  width: 1px;
  height: 12px;
  background-color: #cccccc;
}
.sec-fin .fin-wrap .box2 .fin-text1::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 76px;
  width: 1px;
  height: 12px;
  background-color: #cccccc;
}
.sec-fin .fin-wrap .btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 12px;
}
.sec-fin .fin-wrap .btn-wrap .btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 28px;
  font-weight: 400;
  font-size: 0.6875rem;
  border: 1px solid #d9d9d9;
}
.sec-fin .fin-wrap .btn-wrap .btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 28px;
  font-weight: 400;
  font-size: 0.6875rem;
  color: #fff;
  background-color: #00907F;
}

.nav {
  --bs-nav-link-color: none;
}

.nav-tabs {
  padding: 48px 24px 28px 24px;
  gap: 24px;
  --bs-nav-tabs-border-width: none;
  --bs-nav-tabs-boder-color: none;
  --bs-nav-tabs-link-active-bg: none;
  border-bottom: none;
}

.nav-link {
  padding: 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: #777777;
}

.nav-link:focus, .nav-link:hover {
  color: #777777;
}

.nav-link.active {
  font-weight: 700;
}

.sec-notice {
  background-color: #f6f6f6;
  padding-bottom: 48px;
}
.sec-notice .tab-content {
  margin: 0 24px;
  padding: 16px 24px;
  height: 152px;
  background-color: #fff;
  border-radius: 10px;
}
.sec-notice .tab-pane {
  padding: 0;
}
.sec-notice .notice-text {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-notice .notice-text1 li {
  display: flex;
  align-items: center;
  height: 40px;
}
.sec-notice .notice-text1 a {
  display: block;
  width: 186px;
  font-weight: 400;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sec-notice .notice-text2 li {
  display: flex;
  align-items: center;
  height: 40px;
}
.sec-notice .notice-text2 a {
  display: block;
  font-weight: 350;
  font-size: 0.625rem;
}

.sec-fin-card {
  display: none;
}

.sec-event {
  background-color: #f6f6f6;
}
.sec-event .event-con {
  position: relative;
  margin: 0 24px;
  padding-bottom: 48px;
}
.sec-event .event-con .event-img {
  width: 100%;
  height: 190px;
  border-radius: 10px;
}
.sec-event .event-con .event-text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 36px 0 0 24px;
  font-weight: 600;
  font-size: 1.125rem;
  word-break: keep-all;
}

.appdown {
  padding: 48px 24px 60px 24px;
}
.appdown .download {
  text-align: center;
}
.appdown .tit {
  font-weight: 700;
  font-size: 1.0625rem;
  margin-bottom: 20px;
}
.appdown .pay-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.appdown .appdown-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 12px 12px;
  min-width: 63px;
  height: 30px;
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 0.8125rem;
  background-color: #3376F6;
  color: #fff;
  border-radius: 20px;
}

.move-top {
  text-align: center;
  margin: 24px 24px 48px 24px;
}
.move-top .move-top-click {
  width: 40px;
  height: 40px;
  background: url(../images/move-top-click.svg) 0 0 no-repeat;
}

#footer {
  text-align: center;
  padding: 28px 24px;
  background-color: #f6f6f6;
}
#footer .footer-nav-list {
  font-size: 0;
}
#footer .footer-nav-item {
  position: relative;
  display: inline-block;
  padding: 0 0 0 18px;
}
#footer .footer-nav-item:first-child::before {
  display: none;
}
#footer .footer-nav-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 9px;
  width: 1px;
  height: 10px;
  background-color: #777777;
}
#footer .footer-nav-item:first-child {
  padding-left: 0px;
}
#footer .footer-nav-link {
  display: block;
  font-weight: 500;
  font-size: 0.625rem;
  color: #777777;
}
#footer .footer-tel {
  margin: 32px 0;
}
#footer .footer-tel .footer-tel-list {
  font-size: 0;
  line-height: 0;
  margin: -5px 0 0 -10px;
}
#footer .footer-tel .footer-tel-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 5px 0 0 10px;
}
#footer .footer-tel .footer-tel-link {
  display: block;
  font-weight: 400;
  font-size: 0.625rem;
  color: #777777;
  padding: 8px 14px;
  border: 1px solid #777777;
  border-radius: 5px;
}
#footer .footer-address {
  display: block;
  font-weight: 400;
  font-size: 0.625rem;
  color: #777777;
}
#footer .footer-text .footer-text-list {
  margin-left: -5px;
}
#footer .footer-text .footer-text-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 5px 0 0 10px;
  font-size: 0.625rem;
  font-weight: 400;
  color: #777777;
}
#footer .footer-text .footer-text-item:first-child::before {
  display: none;
}
#footer .footer-text .footer-text-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 1px;
  height: 1px;
  background-color: #777777;
}
#footer .footer-copy {
  display: block;
  margin: 0 auto;
  font-weight: 400;
  font-size: 0.625rem;
  color: #777777;
  margin: 2px 0 12px 0;
}
#footer .logo-wrap {
  padding-bottom: 20px;
}
#footer .logo-wrap .footer-logo {
  width: 66px;
  height: 18px;
  margin: 0 auto;
  background: url(../images/footer-logo.svg);
}
#footer .footer-marks {
  position: relative;
  padding-top: 20px;
  border-top: 1px solid #d9d9d9;
}
#footer .footer-marks .mySwiper3 .swiper-slide:first-child {
  width: 132px;
}
#footer .footer-marks .mySwiper3 .swiper-slide:nth-child(2) {
  width: 144px;
}
#footer .footer-marks .mySwiper3 .swiper-slide:nth-child(3) {
  width: 154px;
}
#footer .footer-marks .mySwiper3 .swiper-slide:nth-child(4) {
  width: 142px;
}
#footer .footer-marks .mySwiper3 .swiper-slide:nth-child(5) {
  width: 227px;
}
#footer .footer-marks .mySwiper3 .swiper-slide:nth-child(6) {
  width: 159px;
}
#footer .footer-marks .mySwiper3 .swiper-slide:nth-child(7) {
  width: 123px;
}
#footer .footer-marks .mySwiper3 .swiper-slide a {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 10px;
}
#footer .footer-marks .mySwiper3 .award-img1 {
  width: 24px;
  height: 34px;
  background: url(../images/wa.png) no-repeat;
  background-size: contain;
}
#footer .footer-marks .mySwiper3 .award-img2 {
  width: 32px;
  height: 32px;
  background: url(../images/cc.png) no-repeat;
  background-size: contain;
}
#footer .footer-marks .mySwiper3 .award-img3 {
  width: 28px;
  height: 32px;
  background: url(../images/k.png) no-repeat;
  background-size: contain;
}
#footer .footer-marks .mySwiper3 .award-img4 {
  width: 26px;
  height: 32px;
  background: url(../images/ico_footer_mark09.png) no-repeat;
  background-size: contain;
}
#footer .footer-marks .mySwiper3 .award-img5 {
  width: 32px;
  height: 32px;
  background: url(../images/ico_footer_mark11.png) no-repeat;
  background-size: contain;
}
#footer .footer-marks .mySwiper3 .award-img6 {
  width: 47px;
  height: 32px;
  background: url(../images/ico_footer_mark13.png) no-repeat;
  background-size: contain;
}
#footer .footer-marks .mySwiper3 .award-img7 {
  width: 27px;
  height: 32px;
  background: url(../images/ico_footer_mark07.png) no-repeat;
  background-size: contain;
}
#footer .footer-marks .mySwiper3 .award-text {
  font-weight: 400;
  font-size: 0.625rem;
  text-align: left;
  word-break: keep-all;
  color: #777777;
}

@media screen and (min-width: 1670px) {
  .wrap {
    max-width: none;
  }
  #header {
    padding: 0 320px;
    height: 166px;
  }
  #header .header-top {
    margin-top: 8px;
    display: block;
  }
  #header .header-top .top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #header .header-top .top-inner .inner-left {
    position: relative;
  }
  #header .header-top .top-inner .inner-left .leftwrap {
    display: flex;
  }
  #header .header-top .top-inner .inner-left .leftwrap .text-con {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
    font-weight: 600;
    font-size: 0.8125rem;
    font-family: "Hana2";
    background-color: #fff;
    color: #3C3F44;
  }
  #header .header-top .top-inner .inner-left .leftwrap .text-active {
    background-color: #00907F;
    color: #fff;
  }
  #header .header-top .top-inner .inner-left .leftwrap .text-active::after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 107px;
    width: 2px;
    height: 17px;
    background-color: #eeeeee;
  }
  #header .header-top .top-inner .inner-right .rightwrap {
    display: flex;
  }
  #header .header-top .top-inner .inner-right .rightwrap .text-list {
    position: relative;
  }
  #header .header-top .top-inner .inner-right .rightwrap .text-list:first-child::before {
    display: none;
  }
  #header .header-top .top-inner .inner-right .rightwrap .text-list::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0px;
    width: 2px;
    height: 17px;
    background-color: #eeeeee;
  }
  #header .header-top .top-inner .inner-right .rightwrap .text-list .text-con {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
    font-weight: 600;
    font-size: 0.8125rem;
    font-family: "Hana2";
    background-color: #fff;
    color: #777777;
  }
  #header .header-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #header .header-body .body-inner {
    height: 126px;
  }
  #header .header-body .body-inner #logo {
    width: 156px;
    height: 62px;
    background: url(../images/Logo-h1pc.png) center no-repeat;
    background-size: contain;
  }
  #header .header-body .body-inner .gnb-wrap {
    display: flex;
  }
  #header .header-body .body-inner .gnb-wrap .gnb-list {
    display: flex;
  }
  #header .header-body .body-inner .gnb-wrap .gnb-list .gnb-text {
    font-family: "Hana2";
    font-weight: 600;
    font-size: 1.1875rem;
    color: #000;
    margin: 8px 27px;
  }
  #header .header-body .body-inner .util-wrap .util-icon {
    gap: 40px;
  }
  #header .header-body .body-inner .util-wrap .util-icon .icon-menu {
    width: 32px;
    height: 32px;
  }
  #header .header-body .body-inner .util-wrap .util-icon .icon-menubar {
    height: 2px;
  }
  #header .header-body .body-inner .util-wrap .util-icon .la-search::before {
    font-size: 40px;
  }
  .mySwiper1 {
    display: none;
  }
  #main .mySwiper4 {
    position: relative;
    display: block;
    margin-top: 166px;
    width: 100%;
    height: 583px;
  }
  #main .mySwiper4 .intro-img {
    width: 100%;
    height: 583px;
  }
  #main .mySwiper4 .txt-sec {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 120px;
    margin: 56px 0 0 320px;
    color: #000;
  }
  #main .mySwiper4 .txt1 {
    word-break: keep-all;
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 56px;
  }
  #main .mySwiper4 .txt2 {
    font-weight: 400;
    font-size: 1.125rem;
  }
  #main .mySwiper4 .txt2::before {
    content: "";
    position: absolute;
    top: 146px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #00907F;
  }
  #main .mySwiper4 .swiper-button-prev {
    opacity: 1;
    top: 540px;
    left: 320px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
  }
  #main .mySwiper4 .swiper-button-prev::after {
    width: 38px;
    height: 38px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    margin-top: 28px;
  }
  #main .mySwiper4 .swiper-button-next {
    opacity: 1;
    top: 539px;
    left: 428px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
  }
  #main .mySwiper4 .swiper-button-next::after {
    width: 38px;
    height: 38px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    margin-top: 28px;
  }
  #main .mySwiper4 .swiper-pagination-fraction {
    left: 369px;
    width: auto;
    bottom: 44px;
    font-size: 10px;
  }
  #main .mySwiper4 .swiper-event {
    position: absolute;
    bottom: 3px;
    left: 320px;
    z-index: 1;
    width: 128px;
    height: 32px;
    background-color: #3C3F44;
    text-align: center;
  }
  #main .mySwiper4 .swiper-event a {
    color: #fff;
    font-size: 13px;
  }
  #main .sec-login {
    position: absolute;
    z-index: 10;
    top: 222px;
    right: 320px;
    display: block;
    width: 369px;
  }
  #main .sec-login .login-container {
    background-color: #fff;
  }
  #main .sec-login .nav-tabs {
    display: flex;
    justify-content: space-between;
    gap: 0;
    padding: 24px;
  }
  #main .sec-login .nav-link.active {
    border-bottom: 2px solid #000;
  }
  #main .sec-login .nav-link {
    width: 107px;
    height: 40px;
    font-size: 0.9375rem;
    text-align: center;
    border-bottom: 1px solid #cccccc;
  }
  #main .sec-login .tab-content {
    position: relative;
    height: 243px;
  }
  #main .sec-login .form-field {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #main .sec-login .form-field1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #main .sec-login .form-field1 i {
    font-size: 60px;
  }
  #main .sec-login .form-field1 span {
    width: 300px;
    height: 60px;
    word-break: keep-all;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
  #main .sec-login .form-field-cont {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 16px;
  }
  #main .sec-login .form-field-obj {
    display: block;
    width: 88%;
    margin: 0 auto;
  }
  #main .sec-login .form-input {
    height: 54px;
    width: 100%;
    border: 2px solid rgba(204, 204, 204, 0.8);
    padding: 0 24px;
  }
  #main .sec-login .form-input:focus {
    border: 2px solid rgba(204, 204, 204, 0.8);
    outline: none;
  }
  #main .sec-login .pos-area {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
  }
  #main .sec-login .btn-primary {
    width: 88%;
    height: 52px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background-color: #DB3360;
  }
  #main .sec-login .setup-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    height: 52px;
    margin: 0 auto;
    padding-bottom: 8px;
  }
  #main .sec-login .setup-wrap span {
    font-size: 14px;
  }
  #main .sec-login .item-container {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  #main .sec-login .item-wrap {
    display: flex;
    align-items: center;
    width: 369px;
    height: 56px;
    background-color: #00907F;
  }
  #main .sec-login .item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: 100%;
    margin: 0 auto;
  }
  #main .sec-login .item-con {
    display: flex;
    position: relative;
  }
  #main .sec-login .item-con:first-child::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 163px;
    width: 2px;
    height: 17px;
    background-color: #cccccc;
  }
  #main .sec-login .item-text {
    width: 150px;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: #fff;
  }
  #main .sec-card {
    padding: 0 320px 20px 320px;
  }
  #main .sec-card .nav-tabs {
    padding: 56px 0;
  }
  #main .sec-card .nav-link {
    font-size: 20px;
  }
  #main .sec-card .nav-link.active {
    padding-bottom: 6px;
    border-bottom: 3px solid #000;
  }
  #main .sec-card .mySwiper2 {
    display: none;
  }
  #main .sec-card-top {
    display: flex;
    justify-content: space-between;
  }
  #main .card-tab {
    display: flex;
    padding: 56px 0;
    gap: 16px;
  }
  #main .mySwiper5, #main .mySwiper6 {
    display: block;
    height: 380px;
  }
  #main .mySwiper5 .swiper-wrapper, #main .mySwiper6 .swiper-wrapper {
    margin-right: 0;
  }
  #main .mySwiper5 .swiper-slide, #main .mySwiper6 .swiper-slide {
    padding: 0 70px;
  }
  #main .mySwiper5 .swiper-slide .card-slide, #main .mySwiper6 .swiper-slide .card-slide {
    display: flex;
    justify-content: space-between;
  }
  #main .mySwiper5 .swiper-slide .ani, #main .mySwiper6 .swiper-slide .ani {
    overflow: hidden;
    width: 150px;
  }
  #main .mySwiper5 .swiper-slide .ani .swiper-img, #main .mySwiper6 .swiper-slide .ani .swiper-img {
    display: flex;
    transition: left 0.3s;
    animation: ani-slide 5s infinite linear;
  }
  #main .mySwiper5 .swiper-slide .ani .slide-img, #main .mySwiper6 .swiper-slide .ani .slide-img {
    display: flex;
    margin-right: 8px;
    width: 100%;
  }
  #main .mySwiper5 .swiper-slide .ani .slide-img::before, #main .mySwiper6 .swiper-slide .ani .slide-img::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }
  @keyframes ani-slide {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(0, 0);
    }
    80% {
      transform: translate(-158px, 0);
    }
    100% {
      transform: translate(-158px, 0);
    }
  }
  #main .mySwiper5 .swiper-slide .slide-text, #main .mySwiper6 .swiper-slide .slide-text {
    text-align: center;
    padding-top: 24px;
  }
  #main .mySwiper5 .swiper-slide .slide-text .txt1, #main .mySwiper6 .swiper-slide .slide-text .txt1 {
    font-weight: 500;
    font-size: 1.0625rem;
  }
  #main .mySwiper5 .swiper-slide .slide-text .txt2, #main .mySwiper6 .swiper-slide .slide-text .txt2 {
    margin-top: 8px;
    font-weight: 400;
    font-size: 0.875rem;
    color: #777777;
  }
  #main .mySwiper5 .swiper-button-next, #main .mySwiper6 .swiper-button-next {
    position: absolute;
    top: 130px;
    right: 0;
  }
  #main .mySwiper5 .swiper-button-next::after, #main .mySwiper6 .swiper-button-next::after {
    font-size: 20px;
    font-weight: 600;
    color: #777777;
  }
  #main .mySwiper5 .swiper-button-prev, #main .mySwiper6 .swiper-button-prev {
    position: absolute;
    top: 130px;
    left: 0;
  }
  #main .mySwiper5 .swiper-button-prev::after, #main .mySwiper6 .swiper-button-prev::after {
    font-size: 20px;
    font-weight: 600;
    color: #777777;
  }
  .card-tab-item {
    padding: 3px 27px;
    font-size: 14px;
    border-radius: 20px;
    background-color: #e4e4e4;
  }
  .tab-wrap {
    display: none;
  }
  .sec-fin {
    display: none;
  }
  .sec-fin-card {
    display: flex;
    padding: 0 320px;
    background-color: #f6f6f6;
  }
  .sec-fin-card .fin-wrap-d {
    width: 70%;
    padding-right: 56px;
  }
  .sec-fin-card .fin-tit, .sec-fin-card .card-tit {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    padding: 56px 0;
  }
  .sec-fin-card .fin-box {
    display: flex;
    justify-content: space-between;
  }
  .sec-fin-card .fin-box-item {
    display: flex;
    flex-direction: column;
    width: 29%;
    height: 290px;
    text-align: center;
    padding: 24px 16px;
    gap: 24px;
    background-color: #fff;
  }
  .sec-fin-card .fin-box-tit {
    font-size: 17px;
    font-weight: 600;
  }
  .sec-fin-card .img1 {
    width: 52px;
    height: 64px;
    background: url(../images/ico_loan_main01.png) 50% 0 no-repeat;
  }
  .sec-fin-card .img2 {
    width: 68px;
    height: 64px;
    background: url(../images/ico_loan_main02.png) 50% 0 no-repeat;
  }
  .sec-fin-card .img3 {
    width: 61px;
    height: 64px;
    background: url(../images/ico_loan_main03.png) 50% 0 no-repeat;
    text-align: center;
  }
  .sec-fin-card .fin-img {
    background-size: contain;
    margin: 0 auto;
  }
  .sec-fin-card .fin-txt {
    font-size: 14px;
    font-weight: 500;
  }
  .sec-fin-card .btnwrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec-fin-card .btn1 {
    padding: 10px 17px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 12px;
    border: 1px solid #cccccc;
  }
  .sec-fin-card .btn2 {
    padding: 10px 17px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #00907F;
  }
  .sec-fin-card .card-wrap-d {
    width: 30%;
  }
  .sec-fin-card .card-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sec-fin-card .card-box-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: #fff;
  }
  .sec-fin-card .card-item-tit {
    font-size: 17px;
    font-weight: 500;
    padding: 0;
  }
  .sec-notice {
    display: none;
  }
  .sec-event {
    display: none;
  }
  .sec-app {
    display: none;
  }
  .move-top {
    display: none;
  }
  #footer {
    display: none;
  }
}/*# sourceMappingURL=comm.css.map */