@charset "UTF-8";
@font-face {
  font-family: "Hana2";
  font-weight: 200;
  src: url(../fonts/Hana2-Light.woff) format("woff");
}
@font-face {
  font-family: "Hana2";
  font-weight: 300;
  src: url(../fonts/Hana2-Regular.woff) format("woff");
}
@font-face {
  font-family: "Hana2";
  font-weight: 400;
  src: url(../fonts/Hana2-Medium.woff) format("woff");
}
@font-face {
  font-family: "Hana2";
  font-weight: 500;
  src: url(../fonts/Hana2-CM.woff) format("woff");
}
@font-face {
  font-family: "Hana2";
  font-weight: 600;
  src: url(../fonts/Hana2-Bold.woff) format("woff");
}
@font-face {
  font-family: "Hana2";
  font-weight: 700;
  src: url(../fonts/Hana2-Heavy.woff) format("woff");
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif, "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #333;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.wrap {
  max-width: 375px;
  margin-top: 60px;
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: none;
  }
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  padding: 0 24px;
  background-color: #fff;
}
#header .header-body {
  display: flex;
  align-items: center;
}
#header .header-body .body-inner {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 149px;
}
#header .header-body .body-inner #logo {
  width: 94px;
  height: 36px;
  background: url(../images/Logo-h1.png) center no-repeat;
}
#header .header-body .body-inner .util-wrap .util-icon {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}
#header .header-body .body-inner .util-wrap .icon-search {
  display: block;
  right: 0;
  width: 40px;
  height: 40px;
  background: url(../images/search.png) center no-repeat;
}
#header .header-body .body-inner .util-wrap .icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../images/menu.png) center no-repeat;
}

.mySwiper {
  height: 250px;
}
.mySwiper .swiper-intro {
  position: relative;
  display: block;
  height: 250px;
}
.mySwiper .swiper-intro .img-sec1 {
  background: url(../images/ev162_obj_01.png) center no-repeat;
  background-color: #F3EDE3;
  background-size: contain;
  background-position: 155px 38px;
  width: 375px;
  height: 250px;
}
.mySwiper .swiper-intro .img-sec2 {
  background: url(../images/ev159_obj_01.png) center no-repeat;
  background-color: #F3EEEA;
  background-size: contain;
  background-position: 115px 36px;
  width: 375px;
  height: 250px;
}
.mySwiper .swiper-intro .img-sec3 {
  background: url(../images/ev160_obj_01.png) center no-repeat;
  background-color: #E2F9FB;
  background-size: contain;
  background-position: 153px 45px;
  width: 375px;
  height: 250px;
}
.mySwiper .swiper-intro .img-sec4 {
  background: url(../images/ev158_obj_01.png) center no-repeat;
  background-color: #DCDEF5;
  background-size: contain;
  background-position: 145px 40px;
  width: 375px;
  height: 250px;
}
.mySwiper .swiper-intro .img-sec5 {
  background: url(../images/ev161_obj_01.png) center no-repeat;
  background-color: #DBD2FC;
  background-size: contain;
  background-position: 142px 40px;
  width: 375px;
  height: 250px;
}
.mySwiper .swiper-intro .img-sec6 {
  background: url(../images/ev157_obj_01.png) center no-repeat;
  background-color: #E1FAFF;
  background-size: contain;
  background-position: 150px 65px;
  width: 375px;
  height: 250px;
}
.mySwiper .swiper-intro .txt-sec {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 120px;
  margin: 36px 0 0 24px;
  color: #000;
}
.mySwiper .swiper-intro .txt1 {
  word-break: keep-all;
  font-weight: 800;
  font-size: 1.375rem;
  margin-bottom: 32px;
}
.mySwiper .swiper-intro .txt2 {
  font-weight: 400;
  font-size: 0.8125rem;
}
.mySwiper .swiper-intro .txt2::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #00907F;
}
.mySwiper .swiper-pagination-bullet {
  height: 6px;
  background-color: #666666;
}
.mySwiper .swiper-pagination-bullet-active {
  background-color: #777777;
  border-radius: 6px;
  width: 14px;
}

.sec-card .card-tab .card-list {
  display: flex;
}
.sec-card .card-tab .card-list .card-link .card-text1 {
  font-weight: 700;
  font-size: 1.125rem;
  color: #000;
  width: 90px;
  height: 40px;
}
.sec-card .card-tab .card-list .card-link .card-text2 {
  font-weight: 500;
  font-size: 1.125rem;
  color: #777777;
  width: 90px;
  height: 40px;
}
.sec-card .slide-card {
  height: 220px;
}

.fin-wrap .fin-tit {
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.tab-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 24px 24px 48px 24px;
  gap: 8px;
}
.tab-wrap .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 4px);
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 0.75rem;
  color: #000;
}

.appdown {
  padding: 48px 24px 60px 24px;
}
.appdown .download {
  text-align: center;
}
.appdown .tit {
  font-weight: 700;
  font-size: 1.0625rem;
  margin-bottom: 20px;
}
.appdown .pay-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.appdown .appdown-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 12px 12px;
  min-width: 63px;
  height: 30px;
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 0.8125rem;
  background-color: #3376F6;
  color: #fff;
  border-radius: 20px;
}

.move-top {
  text-align: center;
  margin: 24px 24px 48px 24px;
}
.move-top .move-top-click {
  width: 40px;
  height: 40px;
  background: url(../images/move-top-click.svg) 0 0 no-repeat;
}

#footer {
  text-align: center;
  padding: 28px 24px;
  background-color: #f6f6f6;
}
#footer .footer-nav-list {
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}
#footer .footer-nav-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 18px;
}
#footer .footer-nav-item:first-child::before {
  display: none;
}
#footer .footer-nav-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 9px;
  width: 1px;
  height: 10px;
  background-color: #777777;
}
#footer .footer-nav-item:first-child {
  padding-left: 0px;
}
#footer .footer-nav-link {
  display: block;
  font-weight: 500;
  font-size: 0.625rem;
  color: #777777;
}
#footer .footer-tel {
  margin: 32px 0;
}
#footer .footer-tel .footer-tel-list {
  font-size: 0;
  line-height: 0;
  margin: -5px 0 0 -10px;
}
#footer .footer-tel .footer-tel-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 5px 0 0 10px;
}
#footer .footer-tel .footer-tel-link {
  display: block;
  font-weight: 400;
  font-size: 0.625rem;
  color: #777777;
  padding: 8px 14px;
  border: 1px solid #777777;
  border-radius: 5px;
}
#footer .footer-address {
  display: block;
  font-weight: 400;
  font-size: 0.625rem;
  color: #777777;
}
#footer .footer-text .footer-text-list {
  margin-left: -5px;
}
#footer .footer-text .footer-text-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 5px 0 0 10px;
  font-size: 0.625rem;
  font-weight: 400;
  color: #777777;
}
#footer .footer-text .footer-text-item:first-child::before {
  display: none;
}
#footer .footer-text .footer-text-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 1px;
  height: 1px;
  background-color: #777777;
}
#footer .footer-copy {
  display: block;
  margin: 0 auto;
  font-weight: 400;
  font-size: 0.625rem;
  color: #777777;
  margin: 2px 0 12px 0;
}
#footer .footer-logo {
  width: 66px;
  height: 18px;
  margin: 0 auto;
  background: url(../images/footer-logo.svg);
}/*# sourceMappingURL=comm.css.map */